# Ignore all intermediate files in obj
obj/

# Object files:
*.o

# Image files:
image.bin
image.elf
image.map
image.lst

# Backup files of some editors:
*~

# Eclipse files:
.project
.cproject
.settings/
